*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 45px;
    width: 135px;
}
.logo{
    background-image: url(images/Amazon_logo2.png);
    background-size: cover;
    height: 45px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/** Box 2 **/
.deliver{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 20px;
}
.country{
    font-size: 1rem;
    margin-left: 1px;
}
.loc-icon{
    display: flex;
    align-items: center;
}

/** Box 3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 720px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 2px solid #febd68;
}
.search-all{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/** Box 4 **/
span{
    font-size: 0.75rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/** Box 5 **/
.nav-cart i{
    font-size: 25px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}



/** Panel **/
.panel{
    height: 40px;
    background-color: #222F3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p{
    display: inline;
    margin-left: 10px;
}
.panel-option{
    width: 85%;
    font-size: 0.85rem;
}



/** hero-section **/
.hero-section{
    background-image: url('images/Hero.jpg');
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: #f5f6f6;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-message a {
    color: #007185;
}



/** shop-section **/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    height: 338px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box1-img{
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box a{
    color: #007185;
    text-decoration: none;
    margin-bottom: 1rem;
}
/* .img_4{
    width: 320px;
    padding: 1rem;
    margin: 1rem;

     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-size: cover;
    background-color: pink;
} */
.row{
    margin-top: 0.55rem;
    width: 100%;

    /* height: 115px;
    width: 150px;
    padding: 5px 0px 5px;
    background-repeat: no-repeat;
    border: 2px solid black; 
    margin-bottom: 10px;
    margin-right: 2px; */
} 
.item{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0.85rem;
}
.item img{
    width: 100%;
}
.item p{
    font-size: 0.85rem;
    margin-top: 2px;
}
.box-content a{
    margin-bottom: 1rem;
}


/** Footer **/
footer{
    margin-top: 25px;
}
.foot-panel-1{
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 0.85rem;
}
.foot-panel-2 p{
    color: white;
    font-weight: 700;
    font-family: inherit;
}
.foot-panel-2{
    background-color: #232F3E;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 50px;
}
ul a{
    display: block;
    margin-top: 12px;
    color: #DDDDDD;
    text-decoration: none;
}
.foot-panel-2 a:hover{
    text-decoration: underline;
    text-decoration-color: #DDDDDD;
}
.foot-panel-3{
    background-color: #232F3E;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2{
    background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB779528203_.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 185px;
    height: 682px;
    width: 13.6%;
}
.foot-panel-4{
    height: 85px;
    background-color: #131A22;
    color: #DDDDDD;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}
.pages{
    padding-top: 20px;
}
.pages a{
    margin-left: 18px;
    text-decoration: none;
    color: #DDDDDD;
    padding-top: 50px;
}
.pages a:hover{
    text-decoration: underline;
    text-decoration-color: #DDDDDD;
}
.copyright{
    font-size: 0.75rem;
    margin-top: 5px;
}

